<app-header title="Login" subtitle="Bienvenido de nuevo"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-list>
      <app-input
        label="Correo"
        type="email"
        [(model)]="email"
        name="email"
        [required]="true">
      </app-input>

      <app-input
        label="Contraseña"
        type="password"
        [(model)]="password"
        name="password"
        [required]="true">
      </app-input>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="!email || !password">
      Sign In
    </ion-button>

    <div class="register-link ion-text-center ion-margin-top">
      <a (click)="goToRegister()">Create an account</a>
    </div>
  </form>
</ion-content>
