<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario -->
  <form (ngSubmit)="onRegister()">
    <ion-list>
      <app-input
        label="Nombre"
        type="text"
        [(model)]="name"
        name="name"
        [required]="true">
      </app-input>

      <app-input
        label="Apellido"
        type="text"
        [(model)]="lastName"
        name="lastName"
        [required]="true">
      </app-input>

      <app-input
        label="Correo"
        type="email"
        [(model)]="email"
        name="email"
        [required]="true">
      </app-input>

      <app-input
        label="Contraseña"
        type="password"
        [(model)]="password"
        name="password"
        [required]="true">
      </app-input>

      <app-select
        label="País"
        placeholder="Selecciona tu país"
        [options]="countries"
        [(value)]="country">
      </app-select>
    </ion-list>

    <ion-button expand="block" color="success" class="ion-margin-top" type="submit">
      Registrarse
    </ion-button>
  </form>

</ion-content>

